<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Unicesumar - Lista de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Usuarios</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Papel</th>
                    <th>Status</th>
                    <th>Data de cadastro</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% if (users.length > 0) { %>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.papel %></td>
                            <td><%= user.fl_ativo ? 'ativo':'desativado'%></td>
                            <td><%= user.created_at %></td>
                            <td class="d-flex">
                                <form action="/users/delete/<%= user.id %>" method="POST">
                                    <button type="submit" class="btn btn-primary me-2">Excluir</button>
                                </form>
                                <form action="/users/edit/<%= user.id %>" method="GET">
                                    <button type="submit" class="btn btn-secondary">Editar</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <%} else {%>
                <tr>
                    <td colspan="4">NenhumUsuario cadastrado</td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <a href="/users/form" class="btn btn-primary mt-3">Adicionar</a>
        <a href="/" class="btn btn-secondary mt-3">Ultimos Posts!</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    function confirmDelete() {
        if (confirm("Você tem certeza que deseja excluir este usuário?")) {
            document.getElementById("deleteForm").submit();
        }
    }
    function confirmEdit() {
        if (confirm("Você tem certeza que deseja editar este usuário?")) {
            document.getElementById("editForm").submit();
        }
    }
</script>
</html>